################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LohCohCore/.vs
/LohCohCore/obj
/lohcoh-core/.vs
/lohcoh-core/bin
/lohcoh-core/obj
/lohcoh-docs/.vs
/lohcoh-docs/bin
/lohcoh-docs/obj
/lohcoh-graphql/.vs
/lohcoh-graphql/bin
/lohcoh-graphql/obj
/lohcoh-modeling/obj
/lohcoh-modeling/bin/Debug/netstandard2.1
/Meta.Domain/obj
/Lohcode.Application.Interface.GraphQL/bin/Debug/netcoreapp3.1
/Lohcode.Application.Interface.GraphQL/obj
/Lohcode.DDD.Classic.Implementation/bin/Debug/netcoreapp3.1
/Lohcode.DDD.Classic.Implementation/obj
/LohCode.Test/bin/Debug/netcoreapp3.0
/LohCode.Test/obj
/Lohcore.eShopOnWeb/obj
/Meta.API/obj
/Meta.Application/obj
/Meta.Core/obj
/Meta.Domain/bin/Debug
/Meta.Infrastructure/obj
/Lohcore.eShopOnWeb.Presentation/bin/Debug/netcoreapp3.1
/Lohcore.eShopOnWeb.Presentation/obj
/Lohcode.eShopOnWeb.Gateway/obj
/Lohcode.eShopOnWeb.Gateway/bin/Debug/netcoreapp3.1
/Lowkode.Client.Core/bin/Debug/netstandard2.0
/Lowkode.Client.Core/obj
/Lowkode.Server.Core/obj
/Lowkode.Server.Core/bin/Debug/netstandard2.0
/Lohcore.eShopOnWeb.Presentation/wwwroot/swagger/v1/ott_files
/lohr/obj/Debug/netcoreapp3.1
/lohr/wwwroot/lib
/lohr-documentation/obj
/RapidCMS/obj
/Lowkode.Demo.Application/bin/Debug/netcoreapp3.1
/Lowkode.Demo.Application/obj
/LowKode.Core/bin/Debug/netstandard2.0
/LowKode.Core/obj
/LowKode.Tests/bin/Debug/netcoreapp3.1
/LowKode.Tests/obj
/LowKode.Core/bin/Debug/netstandard2.1
