@page "/lowkode"
@using Lowkode.Demo.Application.Data
@using LowKode.Core.Metadata
@using LowKode.Core.Components
@inject ILowKodeMetaService lkMetadata
@inject ILowKodeComponentService lkComponents

<h1>Starfleet Starship Database</h1>

<h2>New Ship Entry Form</h2>

<EditForm Model="@_starship" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @foreach (var propertyMetadata in lkMetadata.ForType<Starship>().Properties)
    {
        <p>
            <label>
                @propertyMetadata.DisplayName+":"
                @lkComponents.ForProperty<Editor>(property)
            </label>
        </p>
    }

    <button type="submit">Submit</button>

    <p>
        <a href="http://www.startrek.com/">Star Trek</a>,
        &copy;1966-2019 CBS Studios, Inc. and
        <a href="https://www.paramount.com">Paramount Pictures</a>
    </p>
</EditForm>

@code {
    private Starship _starship = new Starship();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }

}