@page "/lowkodebasic"
@using Lowkode.Demo.Application.Data
@using LowKode.Core.Metadata
@using LowKode.Core.Components
@using LowKode.Core.Configuration
@inject ILowkoderService lowkoder;


<h1>Starfleet Starship Database</h1>

<h2>New Ship Entry Form</h2>

<EditForm Model="@_starship" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @{
        using (var formSite = lowkoder.RenderWithSite(site))
        {
            var modelMetadata = formSite.Metadata.ForSystemType<Starship>();
            formSite.Context.ComponentSiteSpecification.ModelType = modelMetadata;

            foreach (var property in modelMetadata.Properties)
            {
                using (var propertySite = lowkoder.RenderWithBranch())
                {
                    propertySite.WithModelMember(property);

                    <p>
                        <label>
                            <DisplayName />:
                            <Input />
                        </label>
                    </p>

                }
            }
        }
    }


    <button type="submit">Submit</button>

    <p>
        <a href="http://www.startrek.com/">Star Trek</a>,
        &copy;1966-2019 CBS Studios, Inc. and
        <a href="https://www.paramount.com">Paramount Pictures</a>
    </p>
</EditForm>

@code {
    private Starship _starship = new Starship();
    IComponentSite site;

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        site = lowkoder.CreateSite();
    }

}