@page "/lowkodebasic"
@using Lowkode.Demo.Application.Data
@using LowKode.Core.Metadata
@using LowKode.Core.Components
@using LowKode.Core.Configuration
@using LowKode.Core
@inject ILowkoderService lowkoder


<h1>Starfleet Starship Database</h1>

<h2>New Ship Entry Form</h2>

<EditForm Model="@_starship" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @{
        var modelType= Scope.GetService<ITypeDescriptorService>().GetTypeDescriptor<Starship>();
        foreach (var property in modelType.Properties)
        {
            <Scope Context="FieldScope">
                @{
                    FieldScope.Insert(new SiteSpecification() { 
                        ModelType= modelType,
                        ModelMember = property.ToMemberPath()
                    });
                    <p>
                        <label>
                            <DisplayName />:
                            <Input />
                        </label>
                    </p>
                }
            </Scope>
        }
    }

    <button type="submit">Submit</button>

    <p>
        <a href="http://www.startrek.com/">Star Trek</a>,
        &copy;1966-2019 CBS Studios, Inc. and
        <a href="https://www.paramount.com">Paramount Pictures</a>
    </p>
</EditForm>

@code {
    private Starship _starship = new Starship();

    [CascadingParameter]
    IComponentSite Scope { get; set; }

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}