@using  Lowkode.Client.Core
@using Lohcode.eShopOnWeb.Presentation.Data
@typeparam TModel
@inherits PartComponent<TModel>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in (Items as IReadOnlyList<WeatherForecast>))
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    </tbody>
</table>

@code {

    PlaceholderComponent _placeholder;
    override public PlaceholderComponent PlaceholderComponent {
        set {
            _placeholder = value;
            var items= ((DisplayTable<WeatherForecast>)_placeholder).Items;
            Items = (IReadOnlyList<TModel>)items;
        }
    }

    public IReadOnlyList<TModel> _items;
    public IReadOnlyList<TModel> Items {
        get
        {
            return _items;
        }
        set {
            _items = value;
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}
