@using LowKode.Core.Configuration
@using LowKode.Core.Components
@using LowKode.Core.Context
@namespace LowKode.Core.Components
<label>@SiteSpecification.ModelMember.TargetProperty.DisplayName</label>
@code {
    [ContextParameter]
    SiteSpecification SiteSpecification { get; set; }
}