@using LowKode.Core.Metadata
@using LowKode.Core.Context
@using Microsoft.AspNetCore.Components.Forms
@namespace LowKode.Core.Components
<InputSelect @bind-Value="MemberValue">
    <option value="">Select classification ...</option>
    <option value="Exploration">Exploration</option>
    <option value="Diplomacy">Diplomacy</option>
    <option value="Defense">Defense</option>
</InputSelect>        
@code {
    object Model;
    MemberPath MemberPath;

    [ContextParameter]
    SiteSpecification SiteSpecification { get; set; }  

    protected override void OnInitialized()
    {
        Model = SiteSpecification.Model;
        MemberPath = SiteSpecification.ModelMember;
    }

    public string MemberValue
    {
        get {
            var value= Convert.ToString(MemberPath.Get(Model));
            if (value == null)
                value = "";
            return value;
        }
        set { MemberPath.Set(Model, value); }
    }

}