@using LowKode.Core.Configuration
@namespace LowKode.Core.Components
@inject ILowkoderService lowkoder

@using (lowkoder.RenderWithSite(site))
{
    <label>@site.Context.ComponentSiteSpecification.ModelType.DisplayName</label>
}




@code {
    IComponentSite site;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        site = lowkoder.CreateSite();
    }
}
