@using LowKode.Core.Configuration
@namespace LowKode.Core.Components
@inject ILowkoderService lowkoder

@using (var site = lowkoder.RenderWithSite())
{
    <label>@site.Context.ComponentSiteSpecification.ModelType.DisplayName</label>
}

