@using LowKode.Core.Configuration
@using LowKode.Core.Components
@namespace LowKode.Core.Components
<label>@{Scope.Get<SiteSpecification>().ModelMember.TargetProperty.DisplayName}</label>

@code {
    [CascadingParameter]
    IComponentSite Scope { get; set; }
}
