@using LowKode.Core.Metadata
@using Microsoft.AspNetCore.Components.Forms
@namespace LowKode.Core.Components


<label>@DisplayName</label>

@code {

    public string DisplayName { get; set; }

    [Parameter]
    public IComponentSite Site { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();

        var typeDescriptor = Site.Context.ComponentSiteSpecification.ModelType;
        DisplayName = typeDescriptor.DisplayName;
    }
}