@using LowKode.Core.Configuration
@using LowKode.Core.Components
@using LowKode.Core.Context
@namespace LowKode.Core.Components
<Scope Context="_"><label>@_.Lookup<SiteSpecification>().ModelMember.TargetProperty.DisplayName</label></Scope>

@code {
//
//<Scope Context="_"><label>@_.SiteSpecification.ModelMember.TargetProperty.DisplayName</label></Scope>
//
}
