@page "/fetchdata"

@using Lohcode.eShopOnWeb.Presentation.Data
@using Lohcode.eShopOnWeb.Presentation.Shared
@inject WeatherForecastService ForecastService


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DisplayTable TModel=@WeatherForecast Items=@forecasts></DisplayTable>
}

@code {
  
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
